.header {
    height: 90px;
    background: url(../../../assets/header-desktop.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 1rem;
    ion-button {
        --background: #2b3939;
        --background-hover: #9ce0be;
        --background-activated: #88f4be;
        --background-focused: #88f4be;
        --color: #ffffff;
        --border-radius: 5px;
        --border-color: #2b3939;
        --border-style: solid;
        --border-width: 1px;
        --box-shadow: 0 2px 6px 0 #2b393918;
        --padding-top: 4px;
        --padding-bottom: 0px;
        padding: .5rem;
    }
}