.header {
    height: 90px;
    background: url(../../../assets/header-desktop.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 1rem;
    ion-button {
        padding: .5rem;
    }
}