<div class="dialog">
    <mat-dialog-content class="dialog__content">

        <ng-container *ngIf="data.selectedUser">
            <h2 mat-dialog-title>User details</h2>
            <div class="dialog__content-line-container">
                <p class="dialog__content-line">User ID:
                    <span>{{ data.selectedUser.id }}</span>
                </p>
                <p class="dialog__content-line">Name:
                    <span>{{ data.selectedUser.name }}</span>
                </p>
                <p class="dialog__content-line">Username:
                    <span>{{ data.selectedUser.username }}</span>
                </p>
                <p class="dialog__content-line">Email:
                    <span>{{ data.selectedUser.email }}</span>
                </p>
                <p class="dialog__content-line">Phone:
                    <span>{{ data.selectedUser.phone }}</span>
                </p>
                <p class="dialog__content-line">Address:
                    <span>{{ data.selectedUser.address.street + ' st, ' + data.selectedUser.address.suite }}</span>
                </p>
                <p class="dialog__content-line">Company:
                    <span>{{ data.selectedUser.company.name }}</span>
                </p>
                <p class="dialog__content-line">Website:
                    <span>{{ data.selectedUser.website }}</span>
                </p>
            </div>
        </ng-container>

        <ng-container *ngIf="data.body">
            <h2 mat-dialog-title>Comment Details</h2>
            <div class="dialog__content-line-container">
                <p class="dialog__content-line">Title: 
                    <span>{{ data.title }}</span>
                </p>
                <p class="dialog__content-line">Email: 
                    <span>{{ data.email }}</span>
                </p>
                <p class="dialog__content-line--comment-text">Content: 
                    <span>{{ data.body }}.</span>
                </p>
            </div>
        </ng-container>
        
    </mat-dialog-content>
    <mat-dialog-actions>
        <ion-button mat-dialog-close>Close</ion-button>
    </mat-dialog-actions>
</div>
