@use '../../../scss/variables' as var;

.users {
    padding: 1rem 3rem;
    &__title {
        font-weight: bold;
    }
    &__user-info {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        background-color: var.$White;
        padding: .25rem 1rem;
        margin-bottom: 10px;
        border-radius: 10px;
        border-left: 5px solid var.$Green;
        box-shadow: 0 2px 6px 0 #2b393918;
        &-name {
            color: var.$Dark-Green;
            font-weight: bold;
            font-size: 1rem;
        }
        &-button {
            padding: .5rem;
            border-radius: 10px;
            text-transform: capitalize;
        }
    }
}

@media screen and (min-width: 768px) {
    .users {
        max-width: 660px;
        margin: auto;
        &__title {
            font-size: 2rem;
        }
        &__user-info {
            margin-bottom: 20px;
            &-name {
                font-size: 1.25rem;
            }
            &-button {
                font-size: 1.1rem;
            }
        }
    }
}
