
@font-face {
    font-family: 'League Spartan';
    src: url(./../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

$Dark-Green: #5ca5a5;
$Green: #63baba;
$Light-Green: #eff6f6;
$Very-Dark-Grey: #2b3939;
$Very-Dark-Grey-Opaque: #2b393919;
$White: #ffffff;
$League-Spartan: 'League Spartan', sans-serif;

